.drop_title_bbc {
    color: #9F0000;
    cursor: pointer;
}

.drop_title_bbc > .drop_arrow_bbc {
	color: black;
}

.drop_content_bbc {
    display: none;
    margin-top: 0.1rem;
    padding-top: 0.3rem;
    border-left: 1px dashed black;
    animation-name: dropdown_bbc_transition;
    animation-duration: 0.7s;
}

.drop_content_bbc > :first-child {
	margin-top: 0.5rem;
	padding-top: 0;
}

.drop_content_bbc > * {
	margin-left: 1rem;
}

@keyframes dropdown_bbc_transition {
    from {
        background-color: rgba(102, 191, 255, 0.4);
    }
    to {
        background-color: rgba(221, 221, 221, 0.0);
    }
}

