.spoiler_bbc {
	
	
	border: 1px solid #bbbbbb;
}

.spoiler_bbc > * {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.spoiler_header_bbc {
	background-color: #dddddd;
	margin: 0;
	width: 100%;
	padding-bottom: 0.2rem;
}

.spoiler_title_bbc {
	font-size: 1.1rem;
	margin: 0;
}

hr.spoiler_hr_bbc {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaa;
    margin: 0;
	margin-top: 0.2rem;
	width: 90%;
}

.spoiler_body_bbc {
	background-color: rgba(221, 221, 221, 0.4);
}

.spoiler_content_bbc {
	width: 95%;
	padding-top: 1rem;
}
